@import 'base/shared';

#board-container {
    position: relative;

    & #canvas, #board {
        position: absolute;
    }
}

canvas {
    border: 1px solid black;
    display: block;  /* To remove the scrollbars */
    z-index: 10;
    pointer-events: none;
//    background: #eee;
}

#rightPane {
    .list-group {
        margin-top: rem-calc(75);
        height: rem-calc(495);
        overflow-y: auto;

        .list-group-item {
            &.hidden {
                display: none;
            }

            white-space: nowrap;
            padding: 0.25em 0.75em;

            span {
                line-height: rem-calc(17);
            }
        }
    }
}

#resizable {
    &.hidden {
        opacity: 0;
    }

    padding: 0.5rem;
    display: inline-block;
    white-space: nowrap;

    // suppress on ipad -- jQuery's resizable widget doesn't seem to work well.
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
        left: rem-calc(-100) !important;
    }

    .draggable-arrow {
        @include disable-text-selection;

        font-size: rem-calc(23);
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

        // suppress on ipad -- jQuery's draggable doesn't seem to work on mobile
        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {
            visibility: hidden;
        }
    }

    .more-top-controls {
        @include disable-text-selection;

        display: table;
        width: 100%;
        padding: 0;

        .col-sm-12 {
            text-align: center;
            padding: 0;
            white-space: nowrap;
        }

    }

    .top-controls {
        @include disable-text-selection;

        display: table;
        width: 100%;
        padding: 0 0 rem-calc(30) 0;

        .col-sm-12 {
            display: table-cell;
            text-align: center;

            height: rem-calc(52);
            padding: rem-calc(90) 0 rem-calc(30) 0;
            white-space: nowrap;

            .centerBlock {
                display: inline-table;
                vertical-align: middle;
                width: rem-calc(60);
                padding: 0 rem-calc(20);

                #timer {
                    width: rem-calc(66);
                }
            }

            #startButton {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
                width: rem-calc(140);
            }
            #shuffleButton {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
                width: rem-calc(140);
            }
            #endButton {
                background-color: darkcyan;
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
                width: rem-calc(140);
                display: none;
            }
            #pauseButton {
                background-color: darkcyan;
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
                min-width: rem-calc(140);
                display: none;
            }
        }

    }

    .progress-column {
        height: rem-calc(20);
    }
    .progress {
        padding-top: rem-calc(10);
        padding-bottom: 0;
        min-width: rem-calc(400);
        max-width: rem-calc(400);
        margin: rem-calc(0 25);
        display: inline-block;
    }
    #progressBarLeft, #progressBarRight {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        padding-bottom: rem-calc(10);
        min-width: rem-calc(200);
    }
    #progressBarLeft {
        display: inline-block;
        padding-left: rem-calc(10);
        text-align: left;
    }
    #progressBarRight {
        display: inline-block;
        padding-right: rem-calc(10);
        text-align: right;
    }

    .board-column {
        padding: 0;
    }

    .resizable-arrow {
        @include disable-text-selection;

        font-size: rem-calc(23);
        color: white;
        background-image: none;
        display: inline-block;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

        // suppress on ipad -- jQuery's resizable widget doesn't seem to work well.
        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {
            display: none;
        }
    }

    .board-row {
        display: flex;
    }

    .board {
        border: 1mm solid transparent;
        display: inline-block;

        .row {
            white-space: nowrap;
            margin: 0;

            .outer-square {

                @include disable-text-selection;

                padding: 5px;
                background-color: white;

                &:hover {
                    background-color: lightyellow;

                    .square {
                        background-color: lightyellow;
                        border: 1mm solid lightyellow;
                    }
                }

                &.highlighted-starting-letter {
                    background-color: lightblue;
                    border-color: yellow;

                    .square {
                        border: 1mm solid lightblue;
                        background-color: lightblue;
                    }
                }

                &.highlighted {
                    background-color: lightblue;
                    .square {
                        border: 1mm solid lightblue;
                        background-color: lightblue;
                    }
                }

                display: table-cell;
                height: 56px;
                width: 56px;
                font-size: 23px;

                border-radius: 20%;
                border: 1mm solid black;

                cursor: pointer;

                .square {
                    @include disable-text-selection;

                    &.highlighted {
                        background-color: lightblue;
                        border-color: lightblue;
                    }

                    background-color: white;

                    text-align: center;
                    font-family: verdana, arial, sans-serif;
                    font-weight: bold;
                    font-size: 23px;

                    height: 56px;
                    width: 56px;
                    border-radius: 20%;
                    border: 1mm solid white;

                    cursor: pointer;

                    display: table;
                    width: 100%;
                    height: 100%;

                    div {
                        display: table;
                        width: 100%;
                        height: 100%;
                    }

                    span {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}


.inputs {
    display: inline-block;
    margin-top: rem-calc(90);

    .input-group {
        padding-top: rem-calc(10);

        .input-group-addon {
            width: inherit;
        }

        .form-control {
            width: rem-calc(48);
            text-align: center;
            z-index: 0;
        }

        #timer {
            width: rem-calc(72);
        }

        .c-input {
            white-space: nowrap;

            .c-indicator {
                font-size: 100%
            }
        }

        &.min-max-words {
            .input-group {
                width: 100%;
                .form-control {
                    width: rem-calc(64);
                }
            }
            .input-group:first-child {
                .input-group-addon:first-child {
                    border-radius: 0.25rem 0 0 0;
                }

                .input-group-addon:last-child {
                    border-radius: 0 0.25rem 0 0;
                }
            }
            .input-group:last-child {
                padding-top: 0;

                .input-group-addon:first-child {
                    border-radius: 0 0 0 0.25rem;
                }

                .input-group-addon:last-child {
                    border-radius: 0 0 0.25rem 0;
                }
            }
        }

        &.min-max-words-slider {
            padding-bottom: rem-calc(10);

            .slider-track-low, .slider-track-high {
                background: #BABABA;
            }
        }

        .c-checkbox {
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            color: white;
        }
    }
}

#guesses {
    border-radius: 0.25rem;
}

.clearfix {
    clear: both;
}

.ui-widget-content {
    background-color: transparent;
    border: none;
    background:transparent;
}

.tooltip.tooltip-right .tooltip-arrow, .tooltip.bs-tether-element-attached-left .tooltip-arrow {
    border-right-color: #eceeef;
}
.tooltip.tooltip-left .tooltip-arrow, .tooltip.bs-tether-element-attached-right .tooltip-arrow {
    border-left-color: #eceeef;
}

.tooltip-inner {
    background-color: #eceeef;
    color: #55595c;
}
@mixin flash($classname, $midway_color, $duration: 1s, $starting_color: none) {
    .#{$classname} {
        -moz-animation: $classname $duration ease-out;
        -moz-animation-iteration-count: 1;
        -webkit-animation: $classname $duration ease-out;
        -webkit-animation-iteration-count: 1;
        -ms-animation: $classname $duration ease-out;
        -ms-animation-iteration-count: 1;
    }

    @-webkit-keyframes #{$classname} {
        0%   { background-color: $starting_color; }
        50%  { background-color: $midway_color;  }
        100% { background-color: none; }
    }
    @-moz-keyframes #{$classname} {
        0%   { background-color: $starting_color; }
        50%  { background-color: $midway_color;  }
        100% { background-color: none; }
    }
    @-ms-keyframes #{$classname} {
        0%   { background-color: $starting_color; }
        50%  { background-color: $midway_color;  }
        100% { background-color: none; }
    }
}

@include flash(flash-red, red);
@include flash(flash-lightblue, lightblue, 1.25s, lightblue);
@include flash(flash-lightred, lightcoral, 1.25s, lightcoral);
@include flash(flash-green, green);
@include flash(flash-lightgreen, lightgreen);
@include flash(flash-lightgray, flash-lightgray, 0.75s);

ul.final-reveal {
    li.correct-guess {
        background-color: lightgreen;
    }
    li.incorrect-guess {
        background-color: lightgray;
    }
}
