<div class="container" id="topContainer">
    <div class="col-sm-12">
        <div class="list-container">
            <ul class="list-group">
                <% @sitters.each do |sitter| %>
                    <li class="list-group-item">
                        <%= image_tag sitter.image_url, size: "32x32", alt: "Sitter Photo" %>
                        <span><%= sitter.name %></span>
                        <span class="label label-default label-pill pull-right">TODO Rating Score placeholder 123</span>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
