<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
            <%= link_to "Feedback", 'mailto:contact@aaronfischer.com' %>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            &copy; Rover.com <%= Date.today.year %></a>
        </li>
    </ul>
</nav>
