<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header col-sm-2">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <%= link_to image_tag('turkey.png'), '/', class: 'navbar-brand' %>
            </li>
        </ul>
    </div>
    <div class="navbar-header col-sm-8">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <span id="subheading" class="navbar-nav">
                    <span class="text" id="stdout">
                        An aaronfi@ interview production.  : )
                    </span>
                    <span class="jqconsole-cursor user-color user_0" />
                </span>
            </li>
        </ul>
    </div>
    <div class="navbar-header col-sm-2">
        <div class="navbar-collapse">
        </div>
    </div>
</nav>
